<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>lesitedelassurance</title>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ asset('lib/bootstrap-4.0.0-beta-dist/css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/admin/change_password.css') }}" type="text/css" >
  </head>
    <body>
      <div class="container">
        <header class="flex">
          <div class="img">
            <a href="{{ path('courtalia') }}">
              <img src="{{ asset('images/logoCourtalia.jpg') }}" alt="logo" />
            </a>
          </div>
        </header>
        <hr class="mb-5"/>
        <div class="jumbotron">
          <h1>Changer De Mot De Passe</h1>
      {% for error_message in app.session.flashbag.get('error_message') %}
        <div class="alert alert-danger">{{ error_message }}</div>
      {% endfor %}
      {#
            {% if error_message %}
              <div class="error_message alert alert-danger"> 
                {{ error_message }}
              </div>
          {% endif %}
      #}
            <div id="error_validation" class="alert alert-danger" hidden> </div>
            <form action="{{ path('change_password') }}" method="post">
              <div class="form-group">
                <label for="mail">Ancien mot de passe</label>
                <input id="old_password" class="form-control" type="password" name="old_pass" placeholder="Ancien mot de passe" required autofocus/>
              </div>
              <div class="form-group">
                <label for="password">Nouveau mot de passe</label>
                <input id="new_password" class="form-control" type="password" name="new_password" placeholder="Nouveau mot de passe" required/>
              </div>
              <div class="form-group">
                <label for="password">Confirmer le nouveau mot de passe</label>
                <input id="new_password_confirm" class="form-control" type="password" name="new_password_confirm" placeholder="Confirmer le nouveau mot de passe" required/>
              </div>
              <div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i>
                  Valider
                </button>
              </div>
            </form>
          <hr class="my-5">
        </div>
      </div>
      <footer class="text-center">
        <p>Administration - lesitedelassurance©</p>
      </footer>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="{{ asset('js/dist/passwordValidation.js') }}"></script>
    </body>
</html>
